
<link href="./resources/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/bootstrap-theme.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/ng-grid.css" rel="stylesheet" type="text/css" media="screen" />

	<head>
		<script type="text/javascript" src="/learningengine/resources/js/lib2/angular.js"></script>
		<script type="text/javascript" src="/learningengine/resources/js/lib2/angular-route.js"></script>
	    <script type="text/javascript" src="/learningengine/resources/js/lib2/jquery.js"></script>
	    <script type="text/javascript" src="/learningengine/resources/js/lib2/ng-grid.js"></script>
	    <script type="text/javascript" src="/learningengine/resources/js/lib2/jquery-ui.js"></script>
	    <script type="text/javascript" src="/learningengine/resources/js/app.js"></script>
	</head>

<body ng-controller="CourseController as courseCtrl">
	
	
	<div class="gridStyle" ng-grid="gridOptions"></div> 
	<ul>
		<li ng-repeat="item in mySelections">  
			<div>{{item.description}}</div>
			<div>En ligne : {{item.online}}</div>
			<div>Suivi : {{item.followed}}</div>
		</li>  
	</ul>
	
	<button ng-click="submitSelectedCourses()" type="button" class="btn btn-success">Suivre les cours selectionnés</button>
	<button ng-click="getMyCourses()" type="button" class="btn btn-success">Mes cours</button>

	
</body>
