<link href="./resources/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/bootstrap-theme.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/ng-grid.css" rel="stylesheet" type="text/css" media="screen" />

<head>
	<script type="text/javascript" src="/learningengine/resources/js/lib/angular.js"></script>
	<script type="text/javascript" src="/learningengine/resources/js/lib/angular-route.js"></script>
    <script type="text/javascript" src="/learningengine/resources/js/lib/jquery.js"></script>
    <script type="text/javascript" src="/learningengine/resources/js/lib/ng-grid.js"></script>
    <script type="text/javascript" src="/learningengine/resources/js/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="/learningengine/resources/js/app.js"></script>
</head>

<body ng-controller="ProfessorController as profCtrl">
	<div class="container col-md-10">
		<button ng-model="selection" ng-click="dropOffResult()" type="button" class="btn btn-success">Deposer un resultat</button>
		<button ng-model="selection" ng-click="addCourse()" type="button" class="btn btn-success">Ajouter un cours</button>
		<button ng-model="selection" ng-click="addAssessment()" type="button" class="btn btn-success">Ajouter une evaluation</button>
		<br><br><br>
	
		<div class="container col-md-5">
			<div class="panel panel-default">	
				<div ng-switch on="selection">
				
			    	<div ng-switch-when="dropOffResult">
			    		<ng-include src="'/learningengine/resources/views/assessmentResultForm.html'"> </ng-include>
			    	</div> 
			    	
			    	<div ng-switch-when="addCourse">
			    		<ng-include src="'/learningengine/resources/views/courseForm.html'"> </ng-include>
			    	</div>
			    	
			    	<div ng-switch-when="addAssessment">
			    		<ng-include src="'/learningengine/resources/views/assessmentForm.html'"> </ng-include>
			    	</div>
			  	</div>
			</div>
		</div>
	</div>
	
</body>