<link href="./resources/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/bootstrap-theme.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/ng-grid.css" rel="stylesheet" type="text/css" media="screen" />

<head>
	<script type="text/javascript" src="/learningengine/resources/js/lib2/angular.js"></script>
	<script type="text/javascript" src="/learningengine/resources/js/lib2/angular-route.js"></script>
    <script type="text/javascript" src="/learningengine/resources/js/lib2/jquery.js"></script>
    <script type="text/javascript" src="/learningengine/resources/js/lib2/ng-grid.js"></script>
    <script type="text/javascript" src="/learningengine/resources/js/lib2/jquery-ui.js"></script>
    <script type="text/javascript" src="/learningengine/resources/js/app.js"></script>
</head>

<body ng-controller="ProfessorController as profCtrl">
	
	<button ng-model="selection" ng-click="dropOffResult()" type="button" class="btn btn-success">Deposer un resultat</button>
	<button ng-model="selection" ng-click="addCourse()" type="button" class="btn btn-success">Ajouter un cours</button>
	
	<div ng-switch on="selection">
	
    	<div ng-switch-when="dropOffResult">
    		<ng-include src="'/learningengine/resources/views/assessmentResultForm.html'"> </ng-include>
    	</div> 
    	
    	<div ng-switch-when="addCourse">
    		<ng-include src="'/learningengine/resources/views/courseForm.html'"> </ng-include>
    	</div>
  	</div>

</body>