<link href="./resources/css/home.css" rel="stylesheet" type="text/css" media="screen" />

<div ng-controller="ProfessorController as profCtrl">
  <form>
    <label for="intitule">Intitule :</label><input type="text" id="intitule" ng-model="assessmentForm.title" /><br />
    <label for="date">Date :</label><input type="text" id="date" ng-model="assessmentForm.dateOfAssessment" /><br />
    <label for="duree">Duree  :</label><select ng-model="assessmentForm.duration">
    				<option value="1">1H</option>
    				<option value="2">2H</option>
    				<option value="3">3H</option>
    				<option value="4">4H</option>
    				<option value="5">5H</option>
    			</select>
   
    			
    			
    <button ng-click="submitAssessment()">Valider</button>
  </form>
  
  <pre>form = {{assessmentForm | json}}</pre>
  
</div>