<link href="./resources/css/home.css" rel="stylesheet" type="text/css" media="screen" />

<div ng-controller="ProfessorController as profCtrl">
  <div class="panel panel-default">
	  <div class="panel-heading">Ajout d'une evaluation</div>	
	  <form>
	    <label for="intitule">Intitule :</label><input type="text" class="focus-color" id="intitule" ng-model="assessmentForm.title" /><br />
	    <label for="date">Date :</label>
	    	<div ng-controller="DatepickerDemoCtrl" >
	            <p class="input-group">
	    			<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="assessmentForm.dateOfAssessment" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" /><br />
	    			<span class="input-group-btn">
	               		<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	             	</span>
	          	 </p>
	   		</div>
	    			
	    <label for="duree">Duree :</label><select id="duree" class="focus-color" ng-model="assessmentForm.duration">
	    				<option value="1">1H</option>
	    				<option value="2">2H</option>
	    				<option value="3">3H</option>
	    				<option value="4">4H</option>
	    				<option value="5">5H</option>
	    			</select>
	   			
	    <button ng-click="submitAssessment()">Valider</button>
	  </form>
  </div>
  
  <pre>form = {{assessmentForm | json}}</pre>
  
</div>