<div ng-controller="ProfessorController as profCtrl">
  <form>
    Intitule : <input type="text" ng-model="assessmentForm.title" /><br />
    Date : <input type="text" ng-model="assessmentForm.dateOfAssessment" /><br />
    Duree  : <select ng-model="assessmentForm.duration">
    				<option value="1">1H</option>
    				<option value="2">2H</option>
    				<option value="3">3H</option>
    				<option value="4">4H</option>
    				<option value="5">5H</option>
    			</select>
   
    			
    			
    <button ng-click="submitAssessment()">Valider</button>
  </form>
  
  <pre>form = {{assessmentForm | json}}</pre>
  
</div>