<div ng-controller="ProfessorController as profCtrl">
  <form>
    Intitule : <input type="text" ng-model="courseForm.name" /><br />
    Description : <input type="text" ng-model="courseForm.description" /><br />
    En ligne  : <select ng-model="courseForm.online">
    				<option value="true">Oui</option>
    				<option value="false">Non</option>
    			</select>
    <button ng-click="submitCourse()">Valider</button>
  </form>
  
  <pre>form = {{courseForm | json}}</pre>
  
</div>
  
  
  <!-- to update according to Course object -->