<!doctype html>
<html>
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		
		<script type="text/javascript" src="/learningengine/resources/js/lib2/angular.js"></script>
		<script type="text/javascript" src="/learningengine/resources/js/lib2/angular-route.js"></script>	    
	    <script type="text/javascript" src="/learningengine/resources/js/lib2/jquery.js"></script>
	    <script type="text/javascript" src="/learningengine/resources/js/lib2/ng-grid.js"></script>
	    <script type="text/javascript" src="/learningengine/resources/js/lib2/jquery-ui.js"></script>
	    <script type="text/javascript" src="/learningengine/resources/js/app.js"></script>
	</head>
	
	<body ng-app="learningengine">
	
		<div style="margin: 10px" class=""> <!-- Conteneur menu -->		
			<ul class="nav nav-pills col-md-9">
		      <li><a ng-href="#/app"><span class="glyphicon glyphicon-home"></span> Home </a></li>
		      <li><a ng-href="#/app/courses"><span class="glyphicon glyphicon-book"></span> Tous les cours </a></li>
		      <li><a ng-href="#/app/results"><span class="glyphicon glyphicon-list-alt"></span> Mes resultats </a></li>
		      <li><a ng-href="#/app/asProfessor"><span class="glyphicon glyphicon-briefcase"></span> Actions professeur </a></li>
			  <li><a ng-href="#/app/assessments"><span class="glyphicon glyphicon-th-list"> Evaluations</a></li>
		    </ul>
		</div>
		<br><br><br><br>    
		
        <div ng-view=""></div> 
		
	</body>
	
</html>