<link href="./resources/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/bootstrap-theme.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./resources/css/ng-grid.css" rel="stylesheet" type="text/css" media="screen" />

<head>
	<script type="text/javascript" src="/learningengine/resources/js/lib/angular.js"></script>
	<script type="text/javascript" src="/learningengine/resources/js/lib/angular-route.js"></script>
    <script type="text/javascript" src="/learningengine/resources/js/lib/jquery.js"></script>
    <script type="text/javascript" src="/learningengine/resources/js/lib/ng-grid.js"></script>
    <script type="text/javascript" src="/learningengine/resources/js/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="/learningengine/resources/js/app.js"></script>
</head>


<body ng-controller="AssessementResultController as resultCtrl">
	<div class="container col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading"> Mes Notes</div>
				
				<div class="gridStyle" ng-grid="gridOptions"></div> 
				<ul>
					<li ng-repeat="item in mySelections">  
						<div>Note : {{item.score}}</div>
						<div>Statut : {{item.status && 'Reussi' || 'Echec'}}</div>
					</li>  
				</ul>

		</div>
	</div>
</body>